body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(153, 153, 153);
}

.container {
  position: relative;
  float: left;
  z-index: 0;
  width: 46%;
  height: 333px;
  margin: 83px 0 0 16.83073%;
  border-right: 5px solid rgb(179, 179, 179);
  border-bottom: 5px solid rgb(128, 128, 128);
  background-color: rgb(216, 216, 216);
}

._button {
  display: block;
  position: relative;
  float: left;
  border-radius: 3px;
  background-color: rgb(51, 51, 51);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(153, 153, 153);
}

._input {
  display: block;
  position: relative;
  float: left;
  clear: both;
  z-index: 1;
  width: 32.4%;
  height: 45px;
  margin: -294px 0 0 23.59896%;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-size: 2.063em;
  font-weight: 400;
  line-height: 1;
  color: rgb(0, 140, 203);
}

._button-1 {
  z-index: 2;
  width: 5.1999999999%;
  height: 33px;
  margin: -220px 0 0 23.59896%;
}

._button-10 {
  z-index: 14;
  width: 5.19921875%;
  height: 33px;
  margin: -171px 0 0 50.79948%;
}

._button-11 {
  z-index: 8;
  width: 5.19921875%;
  height: 33px;
  margin: -122px 0 0 23.59896%;
}

._button-12 {
  z-index: 9;
  width: 5.19921875%;
  height: 33px;
  margin: -122px 0 0 30.39974%;
}

._button-13 {
  z-index: 10;
  width: 5.19921875%;
  height: 33px;
  margin: -122px 0 0 37.1992199999%;
}

._button-14 {
  z-index: 15;
  width: 5.19921875%;
  height: 33px;
  margin: -76px 0 0 23.59896%;
}

._button-15 {
  z-index: 17;
  width: 5.19921875%;
  height: 33px;
  margin: -76px 0 0 30.39974%;
}

._button-16 {
  z-index: 16;
  width: 5.19921875%;
  height: 33px;
  margin: -76px 0 0 37.1992199999%;
}

._button-2 {
  z-index: 3;
  width: 5.19921875%;
  height: 33px;
  margin: -220px 0 0 30.39974%;
}

._button-3 {
  z-index: 4;
  width: 5.19921875%;
  height: 33px;
  margin: -220px 0 0 37.1992199999%;
}

._button-4 {
  z-index: 11;
  width: 5.19921875%;
  height: 33px;
  margin: -220px 0 0 44%;
}

._button-5 {
  z-index: 12;
  width: 5.19921875%;
  height: 33px;
  margin: -220px 0 0 50.79948%;
}

._button-6 {
  z-index: 5;
  width: 5.19921875%;
  height: 33px;
  margin: -171px 0 0 23.59896%;
}

._button-7 {
  z-index: 6;
  width: 5.19921875%;
  height: 33px;
  margin: -171px 0 0 30.39974%;
}

._button-8 {
  z-index: 7;
  width: 5.19921875%;
  height: 33px;
  margin: -171px 0 0 37.1992199999%;
}

._button-9 {
  z-index: 13;
  width: 5.1666666666%;
  height: 82px;
  margin: -171px 0 0 44%;
}