body {
  background-color: rgb(255, 255, 255);
  font: 400 1em/1.38 Helvetica;
  color: rgb(153, 153, 153);
}

.btn {
  display: block;
  position: relative;
  float: left;
  border-right: 3px solid rgb(0, 0, 0);
  border-radius: 3px;
  background-color: rgb(51, 51, 51);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(153, 153, 153);
}

.btn:active {
  border-right-width: 0;
  border-right-style: none;
}

.btn-add {
  z-index: 7;
  width: 11.3553113553%;
  height: 82px;
  margin: -32px 0 0 3.6658653846%;
}

.btn-divide {
  z-index: 12;
  width: 11.36%;
  height: 33px;
  margin: 20px 0 0 3.5828754578%;
}

.btn-dot {
  clear: both;
  z-index: 1;
  width: 11.36%;
  height: 33px;
  margin: 16px 0 0 14.7607600732%;
}

.btn-eight {
  z-index: 4;
  width: 11.36%;
  height: 33px;
  margin: 16px 0 0 3.7345467032%;
}

.btn-equal {
  z-index: 2;
  width: 11.36%;
  height: 33px;
  margin: 16px 0 0 3.588598901%;
}

.btn-five {
  z-index: 9;
  width: 11.36%;
  height: 33px;
  margin: 17px 0 0 3.6229395604%;
}

.btn-four {
  clear: both;
  z-index: 10;
  width: 11.36%;
  height: 33px;
  margin: 17px 0 0 14.7607600732%;
}

.btn-multiply {
  z-index: 11;
  width: 11.36%;
  height: 33px;
  margin: 20px 0 0 3.588598901%;
}

.btn-nine {
  z-index: 3;
  width: 11.1721611721%;
  height: 33px;
  margin: 16px 0 0 3.6229395604%;
}

.btn-one {
  clear: both;
  z-index: 15;
  width: 11.3553113553%;
  height: 33px;
  margin: 20px 0 0 14.7922390109%;
}

.btn-seven {
  clear: both;
  z-index: 5;
  width: 11.36%;
  height: 33px;
  margin: 16px 0 0 14.7607600732%;
}

.btn-six {
  z-index: 8;
  width: 11.1721611721%;
  height: 33px;
  margin: 17px 0 0 3.5542582417%;
}

.btn-subtract {
  z-index: 6;
  width: 11.3553113553%;
  height: 82px;
  margin: -34px 0 0 3.5056089743%;
}

.btn-three {
  z-index: 13;
  width: 11.36%;
  height: 33px;
  margin: 20px 0 0 3.588598901%;
}

.btn-two {
  z-index: 14;
  width: 11.36%;
  height: 33px;
  margin: 20px 0 0 3.5571199633%;
}

.btn-zero {
  z-index: 0;
  width: 11.36%;
  height: 33px;
  margin: 16px 0 0 3.5542582417%;
}

.container {
  float: left;
  width: 46%;
  height: 333px;
  margin: 99px 0 0 23.5989583333%;
  border-width: 1px 5px 5px 1px;
  border-color: rgb(210, 210, 210) rgb(179, 179, 179) rgb(128, 128, 128) rgb(210, 210, 210);
  border-style: solid;
  border-top-left-radius: 2px;
  background-color: rgb(216, 216, 216);
}

.display {
  display: block;
  float: left;
  width: 71.2454212454%;
  height: 45px;
  margin: 37px 0 0 14.79224%;
  padding: 0 10px;
  background-color: rgb(242, 242, 242);
  font-size: 2.063em;
  font-weight: 400;
  line-height: 1;
  color: rgb(0, 140, 203);
}